.welcome {
  background-image: url("../img/decor-welcom-block.svg"), url("../img/image-welcom-block.png");
  background-repeat: no-repeat;
  background-position: 0% 98.5%, 0% 0%;
  padding: 87px 19px 87px 19px;
}
