.site-list {
  @include reset-list;
}

.site-list__item {
  background-color: $blue;
  padding: 15px 0;
  max-width: 320px;
  text-align: center;
}

.site-list__item:hover {
  background-color: $element-hover;
}

.site-list__item:active {
  background-color: $element-click;
}

.site-list__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;

  &--active {
    color: $active-link-color;
  }
}

.site-list__link:active {
  opacity: 0.3;
}
