.advantages__list {
  @include reset-list;
}

.advantages__wrapper-discription {
  background-color: $color-blue-200;
  padding: 39px 18px 39px 18px;
  color: $color-white;
}

.advantages__item {
  display: grid;
  text-align: center;
}

.advantages__item--padding {
  padding: 24px 32px;
  background-color: $color-grey-50;
}

.advantages__wrapper-image-devil-bridge {
  order: 2;
}

.advantages__wrapper-discription--decor {
  background-image: url("../img/advantages__item--decor.svg");
  background-repeat: no-repeat;
  background-position: center -16px;
  padding-top: 53px;
}

.advantages__title {
  margin: 0 0 10px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.advantages__number {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.advantages__text {
  margin: 17px 0 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.advantages__title--black {
  color: $color-black;
}

.advantages__number--grey {
  color: $color-grey-800;
}

.advantages__text--grey {
  color: $color-grey-800;
}

@media (max-width: $small-width-only) {
  .advantages__image {
    width: 100%;
    display: block;
  }
}

@media (min-width: $medium-width) {
  .advantages__list {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: repeat(3, 1fr);
  }

  .advantages__wrapper-image-open-range {
    grid-column: 2/4;
  }

  .advantages__wrapper-image-devil-bridge {
    grid-column: 1/3;
  }

  .advantages__image {
    display: block;
    width: 100%;
    height: 100%;
  }

  .advantages__title {
    margin: 0 26px 11px 26px;
    font-size: 21px;
  }

  .advantages__text {
    margin: 22px 0 0 0;
  }

  .advantages__item--content-grid {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: repeat(3, 1fr);
  }

  .advantages__wrapper-discription {
    padding: 58px 27px 29px 27px;
    grid-column: 1/2;
  }

  .advantages__wrapper-discription--devil-bridge {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .advantages__wrapper-discription--decor {
    background-image: none;
  }

  .advantages__item--padding {
    padding: 37px 33px 44px 33px;
  }
}

@media (min-width: $large-width) {
  br {
    display: none;
  }

  .advantages__item--padding {
    padding: 52px 50px;
  }

  .advantages__title {
    margin: 0 81px 11px 65px;
  }

  .advantages__wrapper-discription {
    padding: 58px 52px 29px 52px;
  }
}
