.attributes-city {
  padding: 23px 18px 21px 18px;
}


.attributes-city__item {
  display: grid;
  position: relative;
  padding-bottom: 26px;
  background-color: $color-white;
  text-align: left;
}

.attributes-city__title {
  margin: 8px 0 16px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-black;
  text-transform: uppercase;
}

.attributes-city__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-grey-800;
  text-transform: uppercase;
}

.attributes-city__item--home::before {
  content: "";
  width: 40px;
  height: 40px;
  background-image: url("../img/sprite.svg#icon-house");
  background-repeat: no-repeat;
}

.attributes-city__item--burger::before {
  content: "";
  width: 40px;
  height: 40px;
  background-image: url("../img/sprite.svg#icon-burger");
  background-repeat: no-repeat;
}

.attributes-city__item--souvenir::before {
  content: "";
  width: 40px;
  height: 40px;
  background-image: url("../img/sprite.svg#icon-gift");
  background-repeat: no-repeat;
}

@media (max-width: $small-width-only) {
  .attributes-city__item {
    grid-template-columns: max-content 1fr;
    column-gap: 7px;
  }

  .attributes-city__text {
    grid-column: 2/3;
  }

  br {
    display: none;
  }
}

@media (min-width: $medium-width) {
  .attributes-city {
    padding: 0;
  }

  .attributes-city__item {
    display: grid;
    justify-items: center;
    padding: 59px 0 55px 0;
    text-align: center;
  }

  .attributes-city__item--home::before {
    width: 84px;
    height: 79px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .attributes-city__item--burger::before {
    width: 80px;
    height: 78px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .attributes-city__item--souvenir::before {
    width: 87px;
    height: 83px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .attributes-city__title {
    margin: 18px 0 27px 0;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
  }

  .attributes-city__text {
    margin: 0 38px;
  }
}

@media (min-width: $large-width) {
  .attributes-city__item {
    padding: 69px 50px 69px 50px;
    text-align: center;
  }

  .attributes-city__title {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
  }

  .attributes-city__text {
    margin: 0;
  }
}
