.button {
  display: block;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  border: 0;
  color: $color-white;
  text-decoration: none;
  background-color: $color-blue-200;
}

.button:hover {
  background-color: $color-blue-300;
}

.button:active {
  background-color: $color-blue-400;
  color: rgba($color-white, 30%);
}
