.checkbox__input {
  position: relative;
  width: 46px;
  height: 46px;
  opacity: 0;
}

.checkbox__icon {
  position: absolute;
  width: 46px;
  height: 46px;
  background-color: $color-grey-200;
  border-radius: 4px;
}

.checkbox:hover .checkbox__icon {
  background-color: $color-grey-150;
}

.checkbox:active .checkbox__icon {
  background-color: $color-grey-300;
}

.checkbox__input[type="checkbox"]:checked + .checkbox__icon::before {
  content: "";
  position: absolute;
  width: 46px;
  height: 46px;
  background-image: url("../img/checkbox.svg");
}

.checkbox__input:active[type="checkbox"]:checked + .checkbox__icon::before {
  opacity: 0.3;
}
