.description-photo__title {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: $black;
  text-transform: uppercase;
}

.description-photo__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $grey;
}

.description-photo__like {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: $black;
}
