.feedback-form {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 20px;
}

@media (min-width: $medium-width) {
  .feedback-form {
    padding: 0 60px;
  }
}

@media (min-width: $large-width) {
  .feedback-form {
    padding: 0 120px;
  }
}
