.field__input {
  max-width: 264px;
  padding: 19px 16px 16px 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-black;
  background-color: $color-grey-200;
  border: 0;
}

.field__name {
  margin: 0 0 0 16px;
}

.field__textarea {
  padding: 16px;
  border: 0;
  background-color: $color-grey-200;
  width: 280px;
  height: 150px;
  color: $color-black;
}

@media (min-width: $medium-width) {
  .field__textarea {
    width: 648px;
    height: 160px;
  }
}

@media (min-width: $large-width) {
  .field__textarea {
    width: 768px;
    height: 160px;
  }
}
