.field__input {
  max-width: 264px;
  padding: 19px 16px 16px 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-black;
  background-color: $color-grey-200;
  border: 0;
}

.field__name {
  margin: 0 0 0 16px;
}
