.field__input {
  padding: 19px 16px 16px 16px;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-black;
  background-color: $color-grey-200;
  border: 0;
}

.field__name {
  display: block;
  margin: 0 0 0 16px;
}

.field__textarea {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 16px;
  border: 0;
  background-color: $color-grey-200;
  width: 100%;
  color: $color-black;
}

.field__input-wrapper {
  display: grid;
  grid-template-columns: 1fr 58px;
}

.field__icon-phone {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58px;
  height: 58px;
  background-color: $color-grey-125;
}

.field__icon-phone::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-image: url("../img/icon-phone.svg");
  background-position: 0 0;

}

.field__icon-email {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58px;
  height: 58px;
  background-color: $color-grey-125;
}

.field__icon-email::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 12px;
  background-image: url("../img/icon-mail.svg");
}
