.form-impression__heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  text-transform: uppercase;
}

.form-impression__list {
  @include reset-list;
}

.form-impression__field {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $black;
}

@media (min-width: $tablet-width) {
  .form-impression__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .form-attractions__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
