.form-group__heading {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-black;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.form-group__item {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-grey-800;
  text-transform: uppercase;
}

.form-group__item:last-child {
  margin: 0;
}

.form-group__field {
  display: grid;
}

@media (min-width: $medium-width) {
  .form-group__heading {
    margin-bottom: 28px;
  }
}
