.form-attractions__heading {
  position: relative;
  padding-bottom: 20px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-black;
  text-transform: uppercase;
  text-align: center;
}

.form-attractions__list {
  @include reset-list;
}

.form-attractions__item {
  margin: 0;
}

.form-attractions__item:last-child {
  margin-bottom: 0;
}

.form-attractions__field {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-black;
  display: flex;
  align-items: center;
}

@media (min-width: $medium-width) {
  .form-attractions__list {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
  }


  .form-attractions__heading::after,
  .form-attractions__heading::before {
    content: "";
    height: 1px;
    background-color: $color-black;
  }

  .form-attractions__heading {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 123px 1fr 123px;
    gap: 62px;
  }
}

@media (min-width: $large-width) {
  .form-attractions__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .form-attractions__heading {
    grid-template-columns: 280px 1fr 280px;
    gap: 62px;
  }
}
