
.interested__title {
  margin: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.interested__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $grey;
  text-transform: uppercase;
}
