.interested {
  text-align: center;
}

.interested__title {
  margin: 0;
  padding: 38px 0 24px 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.interested__text {
  margin: 0;
  padding-bottom: 32px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-grey-800;
  text-transform: uppercase;
}

.interested__button {
  padding: 16px 0;
  margin: 0 0 49px 0;
}
