.introduction {
  text-align: center;
}

.introduction__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-black;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.introduction__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-grey-800;
  text-transform: uppercase;
}

@media (min-width: $medium-width) {
  .introduction {
    padding: 48px 124px 55px 124px;
  }
}
