.main-nav {
  display: flex;
  flex-direction: column;
}

.main-nav__list {
  @include reset-list;
  display: grid;
  grid-template-columns: 1fr;
  position: absolute;
  top: 0;
  width: 100%;
}

.main-nav__toggle {
  position: relative;
  margin-left: auto;
  margin-top: 17px;
  margin-bottom: 17px;
  margin-right: 20px;
  width: 23px;
  height: 22px;
  z-index: 1;
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: relative;
  }

  .site-list__item:nth-child(3) {
    grid-column: 4/5;
  }

  .main-nav__toggle {
    display: none;
  }
}
