.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer__social-list {
  @include reset-list;
}

.main-footer__contact {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: $color-black;
}

.main-footer__developer {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.main-footer__developer-text {
  margin: 0 13px 0 0;
}

.main-footer__developer-link {
  display: flex;
  align-items: center;
  color: $color-black;
  text-decoration: none;
}

.main-footer__developer-link::after {
  content: "";
  mask-image: url("../img/sprite.svg#copyright__icon");
  background-color: $color-black;
  width: 27px;
  height: 35px;
}

.main-footer__developer-link:hover {
  color: $color-blue-200;
}


.main-footer__developer-link:active {
  color: $color-grey-350;
}

.main-footer__developer-link:hover::after {
  background-color: $color-blue-200;
}

.main-footer__developer-link:active::after {
  background-color: $color-grey-350;
}

@media (max-width: $small-width-only) {
  .main-footer__contact {
    margin-top: 29px;
  }

  .main-footer__social-list {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .main-footer__developer {
    margin-bottom: 40px;
  }
}

@media (min-width: $medium-width) {
  .main-footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .main-footer__social-list {
    margin-top: 36px;
    margin-bottom: 36px;
  }
}
