.main-nav {
  display: flex;
  flex-direction: column;
}

.main-nav__list {
  @include reset-list;
  display: grid;
  grid-template-columns: 1fr;
}

.main-nav__toggle {
  position: relative;
  margin-left: auto;
  margin-top: 26px;
  margin-bottom: 26px;
  margin-right: 20px;
  width: 23px;
  height: 23px;
  z-index: 1;
  cursor: pointer;
  border: none;
  background-color: transparent;
}


@media (min-width: $medium-width) {
  .main-nav__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: relative;
  }

  .main-nav__toggle {
    display: none;
  }
}
