.modal-window {
  width: 320px;
  display: grid;
  justify-items: center;
  margin: 0 auto;
}

.modal-window--sent {
  width: 320px;
  display: grid;
  justify-items: center;
  background-image: linear-gradient(to top, $color-grey-200 100px, $color-white 100px);
  margin: 0 auto;
}

.modal-window__title {
  margin: 45px 0 35px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-black;
  text-transform: uppercase;
}

.modal-window__text {
  margin: 0 41px 28px 41px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-grey-800;
  text-transform: uppercase;
}

.modal-window__button {
  font-size: 18px;
  line-height: 26px;
  padding: 18px 64px 14px 63px;
}

.modal-window__button-sent {
  font-size: 18px;
  line-height: 26px;
  padding: 18px 62px 14px 60px;
  margin: 20px;
}


@media (min-width: $medium-width) {
  .modal-window {
    width: 400px;
  }

  .modal-window--sent {
    width: 640px;
    background-image: linear-gradient(to top, $color-grey-200 154px, $color-white 154px);
  }

  .modal-window__button-sent {
    font-size: 21px;
    padding: 18px 140px 14px 140px;
    margin: 44px 91px;
  }

  .modal-window__text {
    margin: 0 108px 28px 108px;
  }
}
