.order-form__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 64px 0;
  padding: 0;
  border: 0;
}

@media (min-width: $medium-width) {
  .order-form__wrapper-user-information::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 338px;
    left: 50%;
    background-color: #dbdbdb;
  }

  .order-form__wrapper-user-information {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: $small-width-only) {
  .order-form__group::before {
    content: "";
    position: relative;
    width: 100%;
    height: 1px;
    bottom: 79px;
    background-color: $radio-checkbox-hover;
  }
}

@media (min-width: $medium-width) {
  .order-form__wrapper-user-information::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 338px;
    left: 50%;
    background-color: #dbdbdb;
  }
}
