.photo__list {
  @include reset-list;
}

@media (min-width: $medium-width) {
  .photo__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .photo__item:first-child {
    grid-column: 1/-1;
  }
}

@media (min-width: $large-width) {
  .photo__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .photo__item:first-child {
    grid-column: 1/-1;
  }
}
