.photo__list {
  @include reset-list;
  margin: 0 20px;
  display: grid;
}

.photo__image {
  display: block;
  width: 100%;
}

@media (max-width: $small-width-only) {
  .photo__item {
    padding-top: 22px;
    border-top: 2px $color-grey-150 solid;
  }

  .photo__wrapper {
    margin: 15px 0 50px 0;
  }
}

@media (min-width: $medium-width) {
  .photo__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .photo__item:first-child {
    grid-column: 1/-1;
  }

  .description-photo {
    display: flex;
    align-items: center;
  }

  .description-photo__like {
    margin-left: auto;
  }

  .photo__wrapper {
    padding: 22px 20px 11px 21px;
    background-color: $color-grey-200;
  }
}

@media (min-width: $large-width) {
  .photo__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .photo__item {
    position: relative;
  }

  .photo__wrapper {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 22px 20px 11px 21px;
    background-color: rgba($color-black, 0.3);
  }
}
