.photo__list {
  @include reset-list;
}

@media (min-width: $tablet-width) {
  .photo__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .photo__item:first-child {
    grid-column: 1/-1;
  }
}

@media (min-width: $desktop-width) {
  .photo__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .photo__item:first-child {
    grid-column: 1/-1;
  }
}
