.site-list__link {
  display: block;
  padding: 15px 0 15px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: $color-blue-200;
  color: $color-white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}


@media (max-width: $small-width-only) {
  .site-list {
    display: none;
  }

  .site-list__link {
    &:hover {
      background-color: $color-blue-300;
    }

    &:active {
      background-color: $color-blue-400;
      color: rgba(255, 255, 255, 0.3);
    }
  }
}

@media (min-width: $medium-width) {
  .site-list__item:nth-child(3) {
    grid-column: 4/5;
  }

  .site-list__link {
    padding: 18px 0 18px 0;
    background-color: $color-white;
    color: $color-black;
    font-size: 14px;
    line-height: 21px;

    &:hover {
      color: $color-blue-200;
      background-color: $color-white;
    }

    &:active {
      color: rgba($color-black, 0.3);
    }

    &--active {
      color: $color-brown-300;
    }
  }
}
