.social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-self: center;
  gap: 6px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: $color-blue-200;
  background-repeat: no-repeat;
  background-position: center;
}

.social__link::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
}

.social__link:hover {
  background-color: $color-blue-300;
}

.social__link:active::before {
  background-color: $color-blue-400;
  opacity: 0.3;
}

.social__link--vkontakte::before {
  content: "";
  background-image: url("../img/sprite.svg#icon-vk");
}

.social__link--telegram::before {
  content: "";
  background-image: url("../img/sprite.svg#icon-tg");
}

.social__link--youtube::before {
  content: "";
  background-image: url("../img/sprite.svg#icon-youtube");
}
