.video {
  text-align: center;
}

.video__header {
  margin: 0 20px 38px 20px;
}

.video__title {
  margin: 21px 0 26px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-black;
  text-transform: uppercase;
}

.video__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-grey-800;
  text-transform: uppercase;
}

.video__clip {
  margin: 0 20px;
}

.video__clip-image {
  width: 100%;
}


@media (min-width: $medium-width) {
  .video__title {
    font-size: 30px;
    margin: 21px 0 29px 0;
  }

  .video__text {
    font-size: 14px;
    line-height: 21px;
  }

  .video__header {
    margin: 54px 161px 88px 161px;
  }

  .video__clip {
    margin: 0 60px 36px 60px;
  }
}

@media (min-width: $medium-width) {
  .video__clip-image {
    width: 800px;
  }

  .video__header {
    margin: 59px 161px 88px 161px;
  }

  .video__title {
    font-size: 30px;
    margin: 21px 0 33px 0;
  }

  .video__text {
    margin: 0 208px;
  }

  .video__clip {
    margin: 0 60px 78px 60px;
  }
}
