.welcome {
  background-image:
    url("../img/decor-welcome-block.svg"),
    url("../img/image-welcome-block.png");
  background-repeat: no-repeat;
  background-position: 0 97.5%, 0 0;
  padding: 92px 19px 87px 19px;
}
