@media (max-width: $small-width-only) {
  .welcome-inner {
    background-image:
      url("../img/decor-welcome.svg"),
      url("../img/back-mobile-inner.jpg");
    background-repeat: no-repeat;
    background-size: auto, cover;
    background-position: center bottom, center 0;

    @media (min-resolution: 2dppx) {
      background-image:
        url("../img/decor-welcome.svg"),
        url("../img/back-mobile-inner@2x.jpg");
    }
  }
}

.welcome-inner__sedona-image {
  padding: 52px 0 67px 0;
  display: block;
  margin: 0 auto;
}

@media (min-width: $medium-width) {
  .welcome-inner {
    background-image: url("../img/decor-welcome.svg"), url("../img/back-desktop-inner.jpg");
    background-repeat: no-repeat;
    background-size: auto, cover;
    background-position: center bottom, center 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/decor-welcome.svg"), url("../img/back-desktop-inner@2x.jpg");
    }
  }

  .welcome__image {
    padding: 68px 0 87px 0;
    width: 461px;
    height: 350px;
  }
}
