.advantages__list {
  @include reset-list;
}

.advantages__wrapper-discription {
  background-color: $blue;
  padding: 54px 18px 40px 18px;
}

.advantages__item {
  background-color: $white-grey;
  text-align: center;
}

.advantages__title {
  &--white {
    color: $white;
  }
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  text-transform: uppercase;
}

.advantages__number {
  &--white {
    color: $white;
  }
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $grey;
}

.advantages__text {
  &--white {
    color: $white;
  }
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $grey;
  text-transform: uppercase;
}

