// Color
$color-black: #000000;
$color-white: #ffffff;
$color-grey-50: #eeeeee;
$color-grey-100: #e7e5e5;
$color-grey-150: #e5e5e5;
$color-grey-200: #f2f2f2;
$color-grey-250: #dbdbdb;
$color-grey-300: #d5d5d5;
$color-grey-800: #333333;
$color-blue-200: #81b3d2;
$color-blue-300: #669ec0;
$color-blue-400: #5496bd;
$color-brown-300: #766357;

// Viewports

$small-width-only: 767px;
$medium-width: 768px;
$large-width: 1200px;
