$black: #000000;
$grey: #333333;
$blue: #81b3d2;
$white: #ffffff;
$white-grey-100: #e7e5e5;
$white-grey: #eeeeee;
$active-link-color: #766357;
$black-opacity-03: rgba(0, 0, 0, 0.3);
$legend-color: rgba(51, 51, 51, 0.6);
$element-disable: #e5e5e5;
$element-click: #5496bd;
$element-hover: #669ec0;
$radio-checkbox: #f2f2f2;
$radio-checkbox-hover: #e5e5e5;
$radio-checkbox-click: #d5d5d5;

// Viewports

$small-width-only: 767px;
$medium-width: 768px;
$large-width: 1200px;
