.form-group__heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  text-transform: uppercase;
}

.form-group__field {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $grey;
  text-transform: uppercase;
}
